/*LOGIN*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    height: 1em;
}
.profile-email {
    display: block;
    padding: 0 8px;
    font-size: 15px;
    color: #404040;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.need-help
{
    display: block;
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

#logos{

    text-align: center; 

}

#logosisaumox, #logoprefeitura{
    top: 5px;
    display: inline;
}

#logoprefeitura{

    border-radius: 5px;
    height: 103px;
    margin-left: 15px;

}

/* HEADER */
.header{
    height: 90px;
    width: 100%;
    background-image:url("../img/header_fundo.png");
    background-repeat: repeat-x;
    text-align: center;
    margin-bottom: 100px;
    border-bottom: 1px;

}

.header #logo {
    background: url("../img/header_logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    height: 100%; 
    height: 100%;
    text-indent: -9999em;
    width: 499px;
    margin-top: 20px;
    display: inline-block;

}

.headercontent{

    margin-top: 110px;
    display: inline-block;
    color: #074C80;
}

/*NAVBAR*/
.navbar {margin-bottom: 0px; height: 15px;}

/*CART*/
.produtoCart{margin-left: 60px;}
.col-xs-8 button, h4{padding-bottom: 2px;}
.carrinho{with:600px; text-align: center; margin-top: 100px;}
.botaopedido {margin-left: 3px;}


/*LIST COM FILTER*/
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -0px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/*NAV BAR PAINEL DE CONTROLE*/
.controle{

    background-color: #e7eaee;
    border-radius: 37px;
    height: 70px;
    margin-bottom: 55px;

}

.botao{

       padding: 15px 8px 0 57px;

}

.botao-admin{

    background-color: #899d9f;
    font-style: inherit;
}

.teste{
    height: 43px;
    background-color: #899d9f;
}

.botaoinfo{

    margin-left: 18px;

}

.tabela-busca td {

    text-align: left;

}

/*listar categorias*/
.instrucao .combobox{    
    width: inherit;
    text-align: center;    
    padding-top: 10px;
}

/*resumo de solicitação*/

.tabela-resumo{

    width: 50%;

}
.tabela-resumo th,td{

    border: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
.resumo-solicitacao-head{

    background-color: #cfdbdb;

}
.tabela-resumo tbody{

    background-color: #e5f8f8;

}
.alerta-resumo{

    float: left;
    margin-left: 2px;
    margin-top: 5px;
}

/*resumo de pedido*/

.linha-pedido{

    background-color: #e5f8f8;

}

.valor-total {

    padding-right: 40px;

}

.alerta-pedido{

    float: left;
    margin-left: -158px;
    margin-top: 5px;

}

/*listas de solicitações*/
.acao a{

    width: 120px;


}

/*forms*/
table th{

    text-align: center;

}

.tabela-fornecedor{

    font-size: 9pt;

}

.lado-direito{

    float: right;
    margin-left: 555px;
    margin-top: -302px;
    position: absolute;
    width: 936px;

}

.numero{

    padding-left: 309px;
    margin-top: -59px;
    position: absolute;
}

.complemento{

    position: absolute;
    float: right;
    padding-left: 440px;
    margin-top: -60px;

}

.uf{

    position: absolute;
    float: right;
    padding-left: 471px;
    margin-top: -58px;

}